.about_description {
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 40px;
  line-height: 1.8;
}
.about_skills > div {
  margin-bottom: 50px;
  border-bottom: 2px solid rgb(228, 17, 87);
  padding: 24px;
  color: blue;
}
@media screen and (min-width: 768px) {
  .about_skills {
    display: flex;
    gap: 50px;
  }
  .about_skills > div {
    flex-grow: 1;
  }
}
.about_skills > div:nth-child(2) {
  border-bottom: 2px solid red;
  color: red;
}
.about_skills > div:nth-child(3) {
  border-bottom: 2px solid rgb(34, 191, 79);
  color: rgb(30, 127, 43);
}
.about_skills > div:nth-child(4) {
  border-bottom: 2px solid rgb(26, 21, 179);
  color: rgb(25, 32, 168);
}

.about_skills i {
  font-style: 30px;
  margin-bottom: 20px;
}

.about_skills h3 {
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: black;
}
