#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100vh;
  padding: 30px;
  background-image: url("/images/sangmo.jpeg");
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: rgb(250, 230, 233);
}
#hero > h1 {
  font-family: "Playfair Display";
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.3;
}
#hero > p {
  font-family: "Quicksand";
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
  max-width: 420px;
  white-space: normal;
  word-break: normal;
}

#hero > button {
  width: 300px;
  padding: 10px 15px;
  background: transparent;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
}
