.section {
  margin-top: 100px;
  padding: 15px;
}

.section__title {
  display: block;
  margin-bottom: 15px;
  font-size: 10px;
  text-transform: uppercase;
  color: #999999;
  font-weight: 500;
  letter-spacing: 5px;
}

.section__subtitle {
  margin-bottom: 45px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
  color: black;
  font-family: "Playfair Display", serif;
}

.outer_box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px 30px;
}

.skill__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.skill__box > p {
  color: black;
  margin-bottom: 15px;
}
.skill_grey_box {
  background-color: #716666a5;
  border-radius: 6px;
}
.skill_color_box {
  width: 88%;
  height: 6px;
  background-color: #05613e;
  border-radius: 6px;
  position: relative;
}
.skill_color_box > span {
  position: absolute;
  right: 0;
  top: -22px;
}
@media screen and (min-width: 768px) {
  .outer_box {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
