* {
  box-sizing: border-box;
}
body {
  font-family: Quicksand, sans-serif;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
p {
  all: unset;
  display: block;
}
ul,
li {
  all: unset;
}
